/addons/
/battleye/
/dll/
/docs/
/dta/
/keys/
/TestMod/
/dayz.gropj
/DayZServer_x64.exe
/dayzsetting.xml
/serverDZ.cfg
/steam_api64.dll
/steamclient64.dll
/tier0_s64.dll
/vstdlib_s64.dll

!TestMod/serverDZ.cfg